<nav class="fixed-top">
  <mat-toolbar color="primary">
    <mat-toolbar-row class="head-nav">
      <button style="height: 100%;" mat-button routerLink="/home">
        FOODSTOP
        <mat-icon>fastfood</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-button routerLink="signup">
        Sign Up
      </button>
      <button mat-raised-button color="accent" class="d-none d-sm-block d-md-block d-lg-block" routerLink="login">
        Log In
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
<br>
<div class="grid">
  <div class="img"></div>
  <div class="oops">
    <h1>Opps....</h1>
    <h4>The page you are looking for was not found</h4>
    <p>Please check the URL or if you have mispelled something by mistake.</p>
    <button mat-raised-button color="accent" routerLink="/home">Go to Home</button>
    <button mat-raised-button color="primary" routerLink="/browse">Browse for More</button>
  </div>
</div>

<footer class="fixed-bottom">
  <div class="text-center">&copy; 2018 FoodStop. All rights reserved. </div>
</footer>