<mat-progress-bar *ngIf="sending && !response" mode="indeterminate"></mat-progress-bar>
<div class="container">
  <div class="row pwdreset-form">
    <div class="col-md-3 "></div>
    <div class="col-md-6 col-md-offset-3">
      <mat-card>
        <mat-card-title>Reset Password</mat-card-title>
        <p>Enter your new password below</p>
        <mat-card-subtitle>We recommend you enter a minimum of 8 characters</mat-card-subtitle>
        <div class="alert alert-danger" *ngIf="response.code==='025'">
          {{response.err}}</div>
        <div class="alert alert-success" *ngIf="response.code==='026'">
          {{response.msg}}</div>
        <form [formGroup]="pwdresetForm" (ngSubmit)="onSubmit()" novalidate>
          <mat-form-field class="full-width">
            <input matInput placeholder="New Password" type="password" minlength="8" name="password" formControlName="password">
            <mat-error *ngIf="password.errors?.required">
              Password is
              <strong>required</strong>!</mat-error>
            <mat-error *ngIf="password.errors?.minlength">
              Password must be atleast 8 characters long.</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="Re-Enter Password" name="repwd" type="password" formControlName="confirm_password">
            <mat-error *ngIf="confirm_password.errors?.required">
              Please enter your password again.</mat-error>
            <mat-error *ngIf="password.errors?.minlength">
              Password must be atleast 8 characters long.</mat-error>
            <mat-error *ngIf="confirm_password.errors?.MatchPassword">
              Password does not match!</mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" class="btn btn-success btn-sm">Reset Password</button>
        </form>
      </mat-card>
    </div>
  </div>
</div>