<div class="container">
  <mat-card class="card">
    <mat-card-title class="text-center">ABOUT US</mat-card-title>
    <mat-card-subtitle>It takes determination to find good place. We are dedicated to providing the highest quality of service on which you
      can trust.
    </mat-card-subtitle>
    <mat-card-content>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <mat-card class="box">
            <mat-card-title>OUR MISSION</mat-card-title>
            <mat-card-content>
              Bring the most helpful and relevant information about the restaurants at any preferred location or the your current location
              and guide you in selecting the best restaurant when visiting an unknown place. We are also intended to provede
              our handpicked collections to let you explore more curated lists of top restaurants, cafes, pubs, and bars
              in and around the selected location based on trends
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="box">
            <mat-card-title>OUR VISION</mat-card-title>
            <mat-card-content>
              We do all the hard work to find the best restaurant according to the your preference and bring the most relevant data according
              to their current location. We help you discover great new places to choose from and order. We get you all the
              details of nearby restaurants and all its details such as its address, contact details, ratings, let you access
              its menu online, etc. We also get directions to the restaurant so that you could get the best route to reach
              there.
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>