<div class="container">
  <mat-card appearance="outlined" class="card">
    <mat-card-title class="text-center">ABOUT US</mat-card-title>

    <mat-card-content>
          <mat-card appearance="outlined" class="box">
            <mat-card-title>Who we are?</mat-card-title>
            <mat-card-content>
              We are a team of developers, designers and above all we are foodies. Hereby we gather together to develop and design something
              which foodies would love to have in hand and which can fulfill their need or desire to have any kind of food
              anytime anywere.<br>
              <br>We bring the most helpful and relevant information about the restaurants at any preferred
              location or the your current location and guide you in selecting the best restaurant when visiting an unknown
              place. We are also intended to provide our handpicked collections to let you explore more curated lists of
              top restaurants, cafes, pubs, and bars in and around the selected location based on trends
            </mat-card-content>
          </mat-card>
          <mat-card appearance="outlined" class="box">
            <mat-card-title>What we do?</mat-card-title>
            <mat-card-content>
              <h6>Helping people around the globe to explore new places around them</h6>
              <p>FoodStop collects information from every restaurant nearest to your location regularly to ensure you get the
                best results. Our vast community of food lovers share their reviews and photos, so you have all the information
                you need to make an informed choice.</p>
              <br>
              <h6>Creating amazing experiences</h6>
              <p>Starting with many restaurants in India we are gradually moving towards global network. We're making dining
                smoother and more enjoyable with services like online ordering, table reservations and much more.</p>
              <br>
              <h6>Enabling restaurants to create amazing experiences.</h6>
              <p>With dedicated staff and management tools, we're enabling restaurants to spend more time enhancing food services,
                which directly results in better dining experiences.</p>
              <br>
              <h6>And we're gradually doing it globally</h6>
              <p>FoodStop is used by millions every day to decide where to eat in over India. In a few years, we should be able
                help point you to a great place to eat no matter what part of the world you're in.</p>
            </mat-card-content>
          </mat-card>
    </mat-card-content>
  </mat-card>
</div>