.logo{
    text-align:center;
    border-radius: 50%;
}
.facebook{
    background-color: #3b5998;
}
.google{
    background-color: #d34836;
}
.btn-block, .w-100{
    margin: 1rem 0;
}
.login-form{
    margin: 2rem 0 5rem 0;
}
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card{
    padding-top:3rem;
    background-color: rgba($color: #fff, $alpha: 0.6)
}