<div class="bg">
  <div class="inner">
    <div class="welcome hidden">
      <ul>
        <li>W</li>
        <li>E</li>
        <li>L</li>
        <li>C</li>
        <li>O</li>
        <li>M</li>
        <li>E</li>
      </ul>
    </div>
    <div class="wrapper">

      <!-- <h1>WELCOME</h1> -->
      <div class="msg hidden">
        <h2 class="typewrite" data-period="2000" data-type='[ "Are you Hungry?", "Wanna try something new", "Lets get started" ]'>
          <span class="wrap"></span>
        </h2>
      </div>
    </div>
    <button mat-raised-button color="primary" routerLink="/home">Click Here</button>
  </div>
</div>