<div class="text-center">
  <h1>Collections</h1>
  <h4>Browse throught the greatest collections available around you.</h4>
</div>
  <div class="my-grid">
    <mat-card appearance="outlined" *ngFor="let i of collections">
      <img mat-card-image src={{i.collection.image_url}} alt={{i.collection.title}}>
      <mat-card-title>
        {{i.collection.title}}
      </mat-card-title>
      <mat-card-subtitle>
        {{i.collection.description}}
      </mat-card-subtitle>
      <a href="{{i.collection.url}}">
        <button mat-raised-button color="primary">Know more</button>
      </a>
    </mat-card>
  </div>
