<p>
  collection works!
</p>
<div class="col-md-6">
  <div class="cuisines-wrapper">
    <!-- <mat-card *ngFor="let cuisine of cuisines-list">
      <mat-card-title>
        Title {{collection.title}}
      </mat-card-title>
      <mat-card-content>
        Description {{collection.description}}
      </mat-card-content>
      <mat-card-image>
        image {{collection.image_url}}
      </mat-card-image>
      <mat-action-row>
        <button mat-raised-button color="accent">View More</button>
        <button mat-raised-button color="accent">Browse More</button>
        <button mat-raised-button color="accent">View More</button>

      </mat-action-row>

    </mat-card> -->
  </div>
</div>