mat-card{
    margin: 1rem 0.5rem;
    max-width: 300px;
}
.my-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.mat-card-image{
    max-height: 200px
}