<!-- <mat-progress-bar *ngIf="sending && !response" mode="indeterminate"></mat-progress-bar> -->
<div class="container">
  <div class="row signup-form">
    <div class="col-md-3 "></div>
    <div class="col-md-6 col-md-offset-3">
      <mat-card>
        <h2 class="text-center">Sign Up</h2>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
          <mat-card-title>Create an account before you place your order</mat-card-title>
          <div class="alert alert-danger" *ngIf="response.code==='014'">
            {{response.err}}</div>
          <div class="alert alert-success" *ngIf="response.code==='011'">
            {{response.msg}}</div>
          <mat-form-field class="w-100">
            <input matInput placeholder="Email Address" type="email" name="signupEmail" [formControl]="email">
            <mat-error *ngIf="email.errors?.pattern">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="email.errors?.required">
              Email is
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="alert-warning" *ngIf="response.code==='015'">
            {{response.err}}</div>
          <div class="alert-danger" *ngIf="response.code==='001'">
            {{response.err}}</div>
          <br>
          <mat-form-field>
            <input matInput [formControl]="fName" placeholder="First Name">
            <mat-error *ngIf="fName.errors?.required">
              Please enter your name
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput [formControl]="lName" placeholder="Last Name">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput [formControl]="mob" placeholder="Mobile Number">
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Password</mat-label>
            <input matInput [formControl]="pwd" type="password" placeholder="Enter your password here">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput [formControl]="build" placeholder="Building/Premises">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput [formControl]="street" placeholder="Street">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput placeholder="City" [formControl]="city">
            <!-- <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let city of filterCities | async" [value]="cities.name">
                  <span>{{ state.name }}</span>
                </mat-option>
              </mat-autocomplete> -->
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>State</mat-label>
            <mat-select [formControl]="state">
              <mat-option *ngFor="let state of states" [value]="state.key">{{state.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput [formControl]="pin" placeholder="PIN Code">
          </mat-form-field>
          <br>
          <button type="submit" mat-raised-button color="accent" class="btn btn-success">Create Account</button>
        </form>
      </mat-card>
    </div>
  </div>
</div>