<div mnFullpage class="fullpage">
  <div class="section welcome-section fp-section ">
    <div class="head">
      <h4>foodstop</h4>
    </div>
    <div class="content">
      <h1>One Stop Destination for all food lovers</h1>
      <button class="btn" routerLink="/auth/signup">Sign Up</button>
      <button class="btn" routerLink="/auth/login">Log In</button>
    </div>
    <div class="overlay header"></div>
  </div>
  <div class="section welcome-section fp-section ">
    <div class="head">
      <h4>Cuisines</h4>
    </div>
    <div class="content">
      <h1>Get a list of wide varieties of cuisines to choose from</h1>
      <button class="btn" routerLink="/browse/cuisines">browse cuisines</button>
    </div>
    <div class="overlay cuisines"></div>
  </div>
  <div class="section welcome-section fp-section ">
    <div class="head">
      <h4>restaurants</h4>
    </div>
    <div class="content">
      <h1>Find the details of the most popular restaurants near you</h1>
      <button class="btn" routerLink="/browse/restaurants">Find Restaurants</button>
    </div>
    <div class="overlay  restaurants"></div>
  </div>
  <div class="section welcome-section fp-section ">
    <div class="head">
      <h4>collections</h4>
    </div>
    <div class="content">
      <h1>handpicked collections to choose the best foods to try</h1>
      <button class="btn" routerLink="/browse/collections">Browse collection</button>
    </div>
    <div class="overlay  collections"></div>
  </div>
  <div class="section welcome-section fp-section ">
    <div class="head">
      <h4>Map</h4>
    </div>
    <div class="content">
      <h1>Find your location and view the nearest restaurants available around you</h1>
      <button class="btn" routerLink="/browse/map">nearest restaurants</button>
    </div>
    <div class="overlay map"></div>
  </div>
  <div class="section welcome-section fp-section ">
    <div class="head">
      <h4>About</h4>
    </div>
    <div class="content">
      <h1>Get to know the developers behind this amazing web application.</h1>
      <button class="btn" routerLink="/browse/about">Know More</button>
    </div>
    <div class="overlay about"></div>
  </div>
</div>