@import '../../theme.scss';

.head {
  position: relative;

  &:after {
    content: '';
    width: 15%;
    background: $primary;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: calc((100% - 15%)/2);
    right: 0;
  }
}

.res-list {
  padding: 1rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .item {
    max-width: 600px;
    margin: 1rem;
    border-radius: 8px;
    overflow: hidden;

    .mat-card-image {
      height: 250px;
    }

    ;

    p {
      span {
        text-transform: uppercase;
      }
    }

    .mat-icon {
      vertical-align: middle;
      margin-right: 0.5rem
    }

    button {
      margin-right: 1rem
    }
  }
}

.yes {
  color: #00ff00;
}

.no {
  color: #ff0000;
}
