.spacer {
    flex: 1 1 auto;
}
.icon{
    vertical-align:middle;
}
.user{
    border-radius: 50%;
}
.logo{
    width: 150px;
}
.head-nav{
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.dashboard-btn{
    padding:12px;
}
mat-card{
    margin:0.1rem;
    button{
        //width:100%;
        span{
            margin-left: 5px;
        }
    }
}
a{
 color:inherit;
}
a:hover{
    text-decoration: none;
}
a.active{
    color:#000;
    font-weight:bold;
}
mat-sidenav-container{
    height:100%
}
.mat-sidenav-content{
    margin-top:80px;
    
}
