/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '@angular/material/theming';

//normalize
body {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D90036;
  border-radius: 10px;

  &:hover {
    background: rgb(136, 0, 34);
  }
}

*:focus {
  outline: none !important;
  border: 0 !important;
}

a {
  background-color: transparent;
  text-decoration: none;
}
