<div class="container">
  <div class="text-center">
    <h2>Cuisines</h2>
    <h4>Select the cuiisine of your choice.</h4>
  </div>
  <div class="row">
    <div class="col-md-6 list">
      <div class="cuisines-wrapper">
        <!-- <div [@groupsTransition]="cuisines.length"> -->
        <mat-card class="cuisines" *ngFor="let cuisine of cuisines" (click)="onSelect(cuisine)" [ngClass]="selected=='cuisine'?'selected':''">
          <img mat-card-image src={{cuisine.imgurl}} alt={{cuisine.title}}>
          <mat-card-title>
            {{cuisine.title}}
          </mat-card-title>
          <mat-card-subtitle>
            {{cuisine.description}}
          </mat-card-subtitle>
        </mat-card>
        <!-- </div> -->
      </div>
    </div>

    <div class="col-md-6">
      <!-- <app-dishes>

      </app-dishes> -->
      <div class="dishes-list text-center" *ngIf="!selected">
        <h3>Select from the list of Cuisines on the left.</h3>
      </div>
      <div class="dishes-wrapper list-detail" *ngIf="selected">
        <h3>{{selected.title}}</h3>
        <mat-card *ngFor="let dish of selected.dishes">
          <div class="row">
            <div class="col-md-8">
              <mat-card-title>
                {{dish.name}}
              </mat-card-title>
              <mat-card-subtitle>
                {{dish.description}}
              </mat-card-subtitle>
              <mat-card-content>
                Price : {{dish.price | currency:'INR'}}
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="accent" (click)="addtoCart(dish.name)">Add to Cart</button>
              </mat-card-actions>
            </div>
            <div class="col-md-4">
              <img src={{dish.imgurl}} alt={{dish.name}}>
            </div>
          </div>
          <!-- <img mat-card-image class="img" src={{dish.imgurl}} alt={{dish.name}}> -->

        </mat-card>
      </div>
    </div>
  </div>
</div>